* {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.title-img {
    position: relative;
    width: 100%;
    height: 120vh;
    object-fit: cover;
}
 
.description {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 
h1 {
    font-size: 50px;
    color: white;
}

.address {
    position: relative;
}
.location-input {
    width: 600px;
    height: 5rem;
    border-radius: 50px;
    font-size: 20px;
    border-style: none;

}

.location-svg {
    position: absolute;
        width: 2rem;  
        top: 1.5rem;
        left: 1rem;
}

.location-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 80px;
    border-style: none;
    background-color: red;
    right: 1rem;
    top: 1rem;
}

.arrow {
    width: 2rem;
}

.login {
    position: relative;
    left: rem;
}

.login-button {
    width: 300px;
    height: 3rem;
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
    border-style: none;
}

.user-svg {
    position: absolute;
    width: 25px;
    left: 1rem;
    top: 12px;
}

.all-uptions {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    padding: 5rem;
    align-self: center;
    gap: 5rem;
    padding: 5rem;
}

.uption-parent {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.uption-img {
    width: 130px;
    align-self: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
    max-width: 252px;
}

.uption-description {
    font-size: 18px;
    width: 250px;
}

.link {
    display: flex;
    flex-direction: row;
    align-self: center;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: red;
    align-self: center;
    justify-self: center;
}
.link-arrow {
    width: 18px;
}


@media  screen and   (max-width:890px) {

    .description {
        gap: 2rem;
    }
    .title-img {
        fill: none;
    }
    h1 {
        font-size: 30px;
        text-align: center;
        padding: 2rem;
    }

     .location-input {
        width: 300px;
        height: 3rem;
     }

     .location-button {
        background-color: white;
        top: 0rem;
     }

     .arrow {
        width: 1.5rem;
     }

     .location-svg {
        top: 14px;
        width: 1.5rem;
     }
     
     .login-button {
        width: 220px;
        font-size: 13px;
     }

     .user-svg {
        width: 20px;

     }

     .all-uptions {
        flex-direction: column;
        align-content: center;
     }

     .parent-uption {
        display: flex;
        flex-direction: row;
     }

     .link {
        align-content: center;

     }

     .uption-parent {
        flex-direction: row;
        justify-content: center;
     }

     .uption-img {
        width: 124px;
     }
}
